@font-face {
	font-family: sairaSemibold;
	src: url(saira-condensed.semibold.ttf);
}

@font-face {
	font-family: sairaLight;
	src: url(saira-condensed.light.ttf);
}

:root {
	--white: #ECECEC; /* Background color */
	--grey-text: #777777; /* Textfield font color */
	--task-box-color: #F3F3F3; /* Task box color */
	--shadow: rgba(10, 99, 169, 0.16);
	--highlight: rgb(255, 255, 255, 0.70);
	--violet: #571698;
	--purple: #8B5CF6;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: sairaLight;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--white);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	font-family: sairaSemibold;
	color: #ACB1E2;
	margin-bottom: 1rem;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

i {
	font-size: 30px;
	color: black;
	cursor: pointer;
	transform: translate(-50%, -50%);
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: #f1f1f1;
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: #000;
	font-size: 1.25rem;
	box-shadow: 7px 7px 7px -4px var(--shadow),
				0 -5px 10px -1px var(--highlight);
}

#new-task-input::placeholder {
	color: var(--grey-text);
	opacity: 43%;
	font-family: sairaLight;
}

#new-task-submit {
	font-size: 1.25rem;
	font-weight: 500;
	width: 120px;
	height: 50px;
	margin-top: 10px;
	color: black;
	background: var(--white);
	cursor: pointer;
	border: none;
	border-radius: 1rem;
	box-shadow: 7px 7px 7px -4px var(--shadow),
				0 -5px 10px -1px var(--highlight);

}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
	box-shadow: none;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 2rem;
	font-weight: 300;
	color: #ACB1E2;
	font-family: sairaSemibold;
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: #f1f1f1;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
	border: none;
	border-radius: 12px;
	box-shadow: 7px 7px 7px -4px var(--shadow),
				0 -5px 10px -1px var(--highlight);
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: #000000;
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--violet);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.1s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
	box-shadow: none;
}

.task .actions .edit {
	padding: 4px 20px;
	font-weight: 500;
	color: black;
	border: none;
	border-radius: 12px;
	box-shadow: 7px 7px 7px -4px var(--shadow),
				0 -5px 10px -1px var(--highlight);
}

.task .actions .delete {
	padding: 4px 20px;
	font-weight: 500;
	color: crimson;
	border: none;
	border-radius: 12px;
	box-shadow: 7px 7px 7px -4px var(--shadow),
				0 -5px 10px -1px var(--highlight);
}